---
import RotatingText from "./RotatingText";
import Nav from "@/components/nav.astro";
import KartuR from "@/components/KartuR";
import KartuL from "@/components/KartuL";
---

<section
  class="relative text-[var(--white)] bg-gradient-to-b from-[--background] to-[#fba98b] mt-12 md:mt-0 overflow-hidden
    pt-24 md:pt-22 pb-32 md:pb-26"
  id="home"
>
  <div class="max-w-5xl mx-auto space-y-7 pt-3 pb-40 md:pt-32 md:pb-56">
    <Nav />
    <div class="text-left">
      <div class="shiny-white justify-center text-center mb-0 -mt-20">
        <RotatingText
          client:load
          texts={["Religious", "Science", "Technology"]}
          mainClassName="px-1 sm:px-2 md:px-2 text-black text-bold text-2xl overflow-hidden py-0.5 sm:py-1 md:py-1 justify-center rounded-lg"
          staggerFrom={"last"}
          initial={{ y: "100%" }}
          animate={{ y: 0 }}
          exit={{ y: "-120%" }}
          staggerDuration={0.025}
          splitLevelClassName="overflow-hidden pb-0.5 sm:pb-1 md:pb-1"
          transition={{ type: "spring", damping: 30, stiffness: 400 }}
          rotationInterval={2000}
        />
      </div>
      <div
        class="flex flex-col items-center justify-center text-center lg:flex-row lg:items-center lg:justify-center space-y-2 lg:space-y-0 lg:space-x-8 md:gap-4 w-full"
      >
        <h1
          class="text-nowrap text-center justify-center text-xl md:text-6xl font-bold leading-2 text-transparent bg-clip-text
         bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))]
         from-black via-gray-800 to-orange-500"
        >
          HIMPUNAN MAHASISWA <br /> TEKNOLOGI INFORMASI
        </h1>
      </div>
      <p
        class="md:text-2xl text-bold text-[var(--white-icon)] text-center w-full"
      >
        <span class="text-[var(--sec)] shiny-sec">UIN ANTASARI BANJARMASIN</span
        >
      </p>
      <div class="flex justify-around items-start pt-3 md:pt-6">
        <KartuR />
        <KartuL />
      </div>

      <div
        class="absolute left-1/2 -translate-x-1/2 bottom-0 w-full flex flex-col items-center justify-end"
        style="--mx: 0%; --my: 0rem;"
      >
        <div
          class="w-full relative flex justify-center items-end"
          style="z-index:0;"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1440 320"
            class="absolute bottom-0 left-0 w-full h-32 md:h-48"
            preserveAspectRatio="none"
          >
            <path
              fill="#ffff"
              fill-opacity="1"
              d="M0,160L120,138.7C240,117,480,75,720,74.7C960,75,1200,117,1320,138.7L1440,160L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"
            ></path>
          </svg>
          <img
            src="/HO.webp"
            alt="Logo Maskot"
            class="relative w-80 h-120 object-cover translate-x-[5%] translate-y-[-10%] z-10"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<style is:global>
  .shiny-sec {
    background: linear-gradient(135deg, #ffaf76 25%, #eee5ff 50%, #a476ff 75%);
    background-size: 400% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: shine 3s linear infinite;
  }

  @keyframes shine {
    0% {
      background-position: 100% 50%;
    }
    30%,
    70% {
      background-position: 0% 50%;
    }
  }
</style>
